:root {
  --primary-color: #1559a2;
  --secondary-color: rgba(255, 0, 0, 0.749);
  --text-color: #f1f5f9;
  --muted-text-color: #94a3b8;
  --background-body: #0d1117;
  --card-surface: #161b22;
  --form-background: linear-gradient(to top, #0d0d0d, rgba(255, 255, 255, 0.1));
  --border-color: #2f3845;
}
